<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../board-game-card/board-game-card.html">
<dom-module id="crime-scene-card">
	<style>
		:host {
		}
	</style>
	<template>
	    <board-game-card open="{{open}}" ><div><img id="fr" src=""/></div><div><img id="bck" src=""/></div></board-game-card>
	</template>
</dom-module>
	<script>
		Polymer({
		    is: 'crime-scene-card',
			properties: {
    		  front:  {
		          type: Number,
		          observer: '_frontChanged'
	          },
			  back: {
		          type: Number,
		          observer: '_backChanged'
	          },
			  open: {
		          type: Boolean
	          }
	        },
            ready: function() {
	        },
			_frontChanged: function(imgIdx) {
				var imgstr = this.resolveUrl("img/front" + imgIdx + ".png");
				this.$.fr.src = imgstr;
			},
			_backChanged: function(imgIdx) {
				var imgstr = this.resolveUrl("img/back" + imgIdx + ".png");
				this.$.bck.src = this.resolveUrl(imgstr);				
			},
	        move: function() {
	            this.style.top = (30 - this.offsetTop) + "px";
	            this.style.left = (1680 - this.offsetLeft) + "px";
	        },
	        _show: function() {
	            this.$.selected = 1;
	        },
			toggle: function() {
				var card = this.$.card;
				card.selected = (card.selected + 1) % 2;
			}
		});
	</script>