<!doctype html>
<html>

<head>
    <title>polymer game items</title>

    <link rel="import" href="../../bower_components/polymer/polymer.html">
    <link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
    <link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="../../bower_components/paper-card/paper-card.html">
    <link rel="import" href="../../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="../../bower_components/font-roboto/roboto.html">
    <link rel="import" href="board-game-dice/board-game-dice.html">
    <link rel="import" href="board-game-dice/board-game-dice-box.html">
    <style>
        body {
            font-family: Roboto, 'Noto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
    </style>
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
</head>

<body>
    <h2>demo for general items</h2>
    <board-game-dice-box>
        <board-game-dice></board-game-dice>
        <board-game-dice dark></board-game-dice>
    </board-game-dice-box>

</body>

</html>