<!doctype html>
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="DraggableContainerBehavior.html">

<dom-module id="board-game-container">

    <template>
         <style>
        :host {
            cursor: pointer;
            padding: 4px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        #tmpl {
            display: flex;
            justify-content: space-around;
            align-content: space-between;
        }
    </style>
    <paper-card heading="{{container}}" container="{{container}}">
         <div class="card-content">
            <template is="dom-repeat" id="tmpl">
                <div on-track="trackElement" draggable="true">
                <iron-icon icon="home"></iron-icon>{{item.color}}</div>
            </template>
      </div>
      <div class="card-actions">
            <iron-icon icon="refresh" on-tap="reroll"></iron-icon>
        </div>
        </paper-card>
    </template>

    <script>
        Polymer({
                is: 'board-game-container',
                behaviors: [DraggableContainerBehavior],
        });
    </script>

</dom-module>