<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="fantomas-card">
	<style>
		:host {}
		
		.card {
			border: 1px solid black;
			border-radius: 10px;
			margin: 1px;
			padding: 8px;
			width: 220px;
			height: 380px;
			text-align: center;
		}
		
		.value {
			font-size: 300%;
			font-weight: bolder;
			margin: 0 10px;
		}
		
		.points {
			font-size: 200%;
			font-weight: bolder;
		}
		
		.header {
			margin-top: 5px;
		}
		
		.footer {
			margin-bottom: 5px;
		}
		
		.rotate {
			transform: rotate(180deg);
		}
		
		.green {
			color: green;
		}
		
		.red {
			color: darkred;
		}
		
		.blue {
			color: blue;
		}
		
		.yellow {
			color: darkorange;
		}
		
		#pic {
			opacity: 0.8;
			height: 160px;
			width: 120px;
			text-align: center;
			margin: 5px 5px 10px 50px;
		}
	</style>
	<template>
		<div class="vertical layout card">
			<div class$="{{data.typ}}">
				<div class="horizontal layout header">
					<div class="value">{{data.value}}</div>
					<div class="flex">{{data.name}}</div>
					<div class="value">{{data.value}}</div>
				</div>
			</div>
			<img id="pic" />
			<template is="dom-if" if="{{data.text}}">
				<div class="flex">{{data.text}}</div>
			</template>
			<template is="dom-if" if="{{data.points1}}">
				<div class="flex points">{{data.points1}}</div>
			</template>
			<template is="dom-if" if="{{data.points2}}">
				<div class="flex points">{{data.points2}}</div>
			</template>
			<template is="dom-if" if="{{data.spieler}}">
				<div class="flex spieler">{{data.spieler}}</div>
			</template>
			<div class$="{{data.typ}}">
				<div class="layout horizontal rotate footer">
					<div class="value">{{data.value}}</div>
					<div class="flex">{{data.name}}</div>
					<div class="value">{{data.value}}</div>
				</div>
			</div>
		</div>
	</template>
</dom-module>
<script>
	Polymer({
		    is: 'fantomas-card',
			properties: {
    		  data:  {
		          type: Object
	          }
			},
            ready: function() {
				console.log(this.data);
				 this.$.pic.setAttribute("src", this.resolveUrl("img/" + this.data.name + ".jpg"));
				 //this.$.card.addAttribute("class", this.data.type);
	        }
		});

</script>