<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../crime-scene-card/crime-scene-card.html">
<dom-module id="crime-scene-board">
	<style>
		:host {
		}
	</style>
	<template>
		<div style="width: 780px">
		<template is="dom-repeat" items="{{cards}}">
		    <crime-scene-card on-click="swap" front="{{item.front}}" back="{{item.back}}" open="{{item.open}}" empty="{{item.empty}}"></crime-scene-card>
	    </template>
		</div>
	</template>
</dom-module>
	<script>
		Polymer({
		    is: 'crime-scene-board',
			properties: {
	        },
			ready: function() {
	        	this.cards = [];
				for (var i = 1; i < 5; i++) {				
					for (var j = 1; j < 5; j++) {
						var op = parseInt(Math.random()*2);
						this.push('cards', {front: i, back: j, open: op});
					}
				}
				this.shuffle(this.cards);
				this.pop('cards');	
				this.push('cards', {front: 7, back: 5, open: op, empty: true});
			},
			shuffle: function (o){
			    for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
			    return o;
			},
  	        move: function() {
	            this.style.top = (30 - this.offsetTop) + "px";
	            this.style.left = (1680 - this.offsetLeft) + "px";
	        },
			rowBreak: function (idx, count) {
				if(count < 16)
					return false;
				var rowbr = false;
				if (idx > 0 && (idx+1)%4 == 0) {
					rowbr =  true;
				}
				console.log("break:" + idx + " " + rowbr);
				return rowbr;
			},
	        show: function() {
	            this.$.selected = 1;
	        },
			getEmptyIdx: function() {
				for (cardidx in  this.cards) {
					if (this.cards[cardidx].empty) {
						return cardidx;						
					}
				}
	        },
			swap: function(event) {
				var index = event.model.index;
				var emptyIndex = this.getEmptyIdx();
				var diff = Math.abs(index - emptyIndex);
				if (diff == 1 || diff == 4) {
					var cardTmp = this.splice('cards', index, 1, this.cards[emptyIndex])[0];
					this.splice('cards', emptyIndex, 1, cardTmp);
				}
	        },
			toggle: function() {
				var card = this.$.card;
				card.selected = (card.selected + 1) % 2;
				var idx = this.cards.indexOf(card);
				this.swap(idx, idx+1);
			}
		});
	</script>