<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../crime-scene-card/crime-scene-card.html">
<dom-module id="crime-scene-board">
	<style>
		:host {
		}
	</style>
	<template>
		<template is="dom-repeat" items="{{cards}}">
		    <crime-scene-card front="{{item.front}}" back="{{item.back}}" open="{{item.open}}"></crime-scene-card>
    </template>
	</template>
</dom-module>
	<script>
		Polymer({
		    is: 'crime-scene-board',
			properties: {
	        },
			ready: function() {
	        	this.cards = [];
				for (var i = 1; i < 5; i++) {				
					for (var j = 1; j < 5; j++) {
						var op = parseInt(Math.random()*2);
						this.push('cards', {front: i, back: j, open: op});
					}
				}
				this.shuffle(this.cards);
				this.pop('cards');	
			},
			shuffle: function (o){
			    for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
			    return o;
			},
  	        move: function() {
	            this.style.top = (30 - this.offsetTop) + "px";
	            this.style.left = (1680 - this.offsetLeft) + "px";
	        },
	        show: function() {
	            this.$.selected = 1;
	        },
			toggle: function() {
				var card = this.$.card;
				card.selected = (card.selected + 1) % 2;
			}
		});
	</script>