<link rel="import" href="../../../bower_components/polymer/polymer.html">
<dom-module id="canvas-rect">
    <template>
    </template>
</dom-module>
<script>
    Polymer({
		    is: 'canvas-rect',
            properties: {
              width: {
                  type: Number,
                  value: 60
              },
              height: {
                  type: Number,
                  value: 40
              }
            },
            attached: function() {
                var host = Polymer.dom(this).getOwnerRoot().host;
	        }
		});

</script>