<link rel="import" href="../../../bower_components/polymer/polymer.html">
<dom-module id="page-break-div">
    <style>
        :host {
            background-color: cadetblue;
        }

        .break {
            width: 710px;
            page-break-after: always;
        }
        .before {
            page-break-before: always;
        }
    </style>
    <template>
        <template is="dom-if" if="{{pageBreak}}">
            <div id="break" class="break">page break</div>
        </template>
    </template>
</dom-module>
<script>
    Polymer({
		    is: 'page-break-div',
            properties: {
              nmbr: {
                  type: Number
              },
              max: {
                  type: Number
              },
              pageBreak: {
                  type: Boolean,
                  computed: "isPageBreak(nmbr, max)"
              },
              before: {
                  type: Boolean
              }
            },
            ready: function() {
                 this.toggleClass("before", this.before, this.$.break);
	        },
	        isPageBreak: function() {
                if (this.max > 0) {
    	            return (this.nmbr+1) % this.max == 0;
                }

                return true
	        }
		});


</script>